<div class="container-about">
  <div class="container">
    <header>
      <h1 class="page-title">About Us</h1>
    </header>
    <main>
      <article class="content">

        <h2 class="title-about">Production Responsable</h2>


        <p>
          Une cagole fait toujours en sorte de pouvoir se regarder dans le miroir.C’est pourquoi, notre marque s’inscrit
          dans une démarche de production responsable et respectueuse des droits humains et de l’environnement. Dans un
          souhait de transparence, nous allons vous énoncer exactement ce que nous entendons par là :
        </p>
        <br>
        <p>
          Les produits de notre première collection ont été fabriqués dans des ateliers de conception certifiés FAIR
          WEAR, ce qui assure le respect des conditions de travail des hommes et des femmes qui confectionnent ces
          produits. Nous privilégions l’utilisation de textiles organiques ou recyclés qui prennent soin de votre peau
          et de l’environnement.
        </p>
        <br>
        <p>
          Tous nos vêtements sont 100% à base de coton biologique ou de matières recyclées. 80% de nos fournisseurs sont
          basés en Provence, ce qui nous permet de favoriser la production locale, et de mettre en avant le savoir-faire
          régional.
        </p>
        <br>
        <p>
          Nos accessoires sont 100% upcyclés et confectionnés entièrement dans notre belle région.
        </p>
        <br>
        <p>
          Alors, n'ayez crainte, avec Cagole Nomade, vous pourrez continuer de vous regarder dans le miroir.
        </p>
        <br>
        <h2 class="title-about">Manifeste</h2>
        <p>
          L'esprit Cagole Nomade, c'est quoi ? C'est ne plus avoir peur de prendre de la place. C'est être qui tu veux,
          où tu veux.”
        </p>
        <br>
        <p>
          « La Cagole » est une formule qui définit une catégorie de femmes dites « extraverties, légères et vulgaires »
          du sud de la France. Cette expression, qui représente un stéréotype, est dévalorisante au sein de la société.
          Pourtant, notre marque décide de la revendiquer.
        </p>
        <br>
        <p>
          C’est ce qu’on appelle le retournement du stigmate.
        </p>
        <br>
        <p>
          Se revendiquer « Cagole Nomade », c’est être fière de son identité en mouvement, que nous venions de Marseille
          ou d’ailleurs. L’indépendance, l’authenticité et la détermination sont des caractéristiques clés de notre
          identité.
        </p>
        <br>
        <p>
          Notre marque prône l’égalité des genres dans la liberté de mouvement.
        </p>
        <br>
        <p>
          Afin d’agir contre les stéréotypes sur les genres et dans un souci d’inclusion, Cagole Nomade vous propose des
          produits unisexes, qui s’adaptent à toutes les morphologies, à tous les caractères et à toutes les envies
          stylistiques.
          <br>
      </article>
    </main>
  </div>
</div>