<div class="main">
    <div class="container-section">
        <div class="container">
            <div class="section">
                <h1>La marque Eco-Responsable</h1>
                <p><strong>L'esprit Cagole Nomade</strong>, c'est quoi ? C'est ne plus avoir peur de prendre de la place. C'est être qui tu veux, où tu veux.”</p>
                <p class="btn-cont">
                    <%= link_to "See more..", about_path, class: "btn-more" %>
                </p>
            </div>
        </div>
    </div>
</div>