<div class="footer">
    <h2>KEEP IN TOUCH</h2>
    <div class="icons">
    <a href="https://www.instagram.com/cagolenomade/" target="_blank">
        <%= image_tag "instagram-brands.svg", width: "30px" %>
    </a>
    <a href="https://www.facebook.com/cagolenomade" target="_blank">
        <%= image_tag "facebook-square-brands.svg", width: "30px" %>
    </a>
    </div>
    <p><strong>CAGOLE NOMADE</strong>. All rights reserved ©2021</p>
    <p>Commerce électronique propulsé par ECO-RESPONSABLE</p>
</div>