<div class="container">
  <div class="container__grid">
    <h2 class="produits">Produits</h2>
    <%# card1 start %>
    <div class="card">
      <div class="card__photos">
        <%= image_tag "photos/cg01.jpg", class:"photos" %>
      </div>
      <div class="card__text">
        <p>Bob en voile de bateau 100% upcyclé</p>
      </div>
    </div>
    <%# card1 ends %>
    <%# card2 start %>
    <div class="card2">
      <div class="card__photos">
        <%= image_tag "photos/cg02.jpg", class:"photos" %>
      </div>
      <div class="card__text">
        <p> Frida en string léopard: T-shirts unisexe 100% coton biologique</p>
      </div>
    </div>
    <%# card2 ends %>
    <%# card3 starts %>
    <div class="card3">
      <div class="card__photos">
        <%= image_tag "photos/cg04.jpg", class:"photos" %>
      </div>
      <div class="card__text">
        <p>EXCLU: le t-shirt Unisexe Massilia en 100% coton biologique est disponible en préventes.</p>
      </div>
    </div>
    <%# card3 ends %>
  </div>
</div>